*{
	margin: 0;
	padding: 0;
	background: #FFFFFF;
}
a {
	text-decoration: none;
}
#nav{
	width: 1100px;
	height: 140px;
	background: gainsboro;
	min-width: 800px;
}
#nav .nav-center{
	width: 850px;
	height: 140px;
	background:gainsboro;
	margin:0 auto;
}
#nav .nav-center .logo{
	width: 100px;
	height: 50px;
	font-size: 50px;
	background:gainsboro;
	float: left;
}
#nav .nav-center .link{
	float: right;
	background:gainsboro;
}
#nav .nav-center .link li{
	background:gainsboro;
	list-style: none;
	float: left;
	height: 140px;
	line-height: 140px;
}
#nav .nav-center .link li a{
	display: block;
	color: black;
	font-size: 40px;
	width: 150px;
	height: 100%;
	text-align: center;
	background:gainsboro;
}
#nav .nav-center .link li a:hover{
	background: gray;
}
#xsquyu{
	border-radius:3px 3px 3px 3px;
	border: 1px solid #DCDCDC;
    width:1100px;
	height:500px;
	display: block;  
    margin-left: auto;  
	margin-right: auto;
    margin-top:5px;
	position: relative;
	overflow: hidden;
	white-space:nowrap;
}
#tpquyu{
	border-radius:3px 3px 3px 3px;
	border: 1px solid      #DCDCDC;
    padding: 10px;
	position: absolute;
	margin-top:5px;
	width: 500px;
	height: 500px;
}
#box ul li:hover{
    transform: scale(1.15);
}
#box ul li{
	float: left;
	list-style: none; 
	margin-top: 40px;
	margin-left: 160px;
	border-radius: 40px; /*这句就是重点，让边框变为圆角*/
	width: 800px;
	height: 300px;
	background: white;
	box-shadow: 3px 2px 80px rgba(0, 0, 0, 0.2);
	position: relative;
	z-index: 1;
}
#box ul li .box-title{
	width: 250px;
	height: 50px;
	font-size: 60px;
	font-family: "仿宋";
	font-weight: bold;
	text-align: center;
	margin-top: 20px;
	margin-left: 275px;
}
#box ul li .box-sub{
	width: 100px;
	height: 50px;
	font-size: 50px;
	font-family: "楷体";
	color: #808080;
	margin-top: -50px;
	margin-left: 200px;
	
}
#box ul li img{
	margin-top: -120px;
	margin-left: -75px;
	border-radius: 40px;
}
#box .box-go img{
	margin-top: 25px;
	margin-left: 750px;
	box-shadow: 3px 2px 80px rgba(0, 0, 0, 0.2);
}
#font{
	font-size: 90px;
	font-family: "仿宋";
	font-weight: bold;
	margin-top: 20px;
	text-align: center;
}
